

<ion-content class="ion-padding">
  <div class="confirmation">
    <div class="ion-text-center">

      <div class="outer-circle">
        <div class="inner-circle">
          <img src="../../assets/like.png" />
        </div>
      </div>

      <h2>Confirmation</h2>
      <p>
        You have successfully <br>
        completed your donation process, please wait for the confimation for the process to be completed. Thank you!
      </p>
    </div>
  </div>
</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button shape="round" expand="block" class="main-button" (click)="home()" routerDirection="back" color="success">Back to Home</ion-button><br>
  </ion-toolbar>
</ion-footer>