<ion-content [fullscreen]="true">

  <ion-card-content>  
    <ion-item class="color"> 
<h1 align="center"><span>TERMS AND CONDITIONS ON PANTRY FINDER APP</span></h1></ion-item>

<ion-item class="color"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pantry Finder aims to help users, pantry owners and donors to find different pantries around your areas.These Terms and Conditions constitute a legally binding agreement made between you, whether personally or on behalf of an entity and the Pantry Finder, concerning your access to and use of the application as well as any other media form, media channel, mobile website or mobile application related, linked, or otherwise connected thereto Pantry Finder.
You agree that by accessing the mobile application, you have read, understood, and agree to be bound by all of these Terms and Conditions. If you do not agree with all of these Terms and Conditions, then you are expressly prohibited from using the system and you must discontinue use immediately.
<br></p><br></ion-item>
<br>
<ion-item class="color"><br><h2 align="center"><span>USER REPRESENTATIONS</span></h2></ion-item>

<ion-item class="color"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;By using the application, you represent and warrant that: <br>

[(1) All registration information you submit will be true, accurate, current, and complete; (2) you will maintain the accuracy of such information and promptly update such registration information as necessary;] (3) you have the legal capacity and you agree to comply with these Terms and Conditions; (4) you will not access the Site through automated or non-human means, whether through a bot, script, or otherwise; (5) you will not use the Site for any illegal or unauthorized purpose; (6) your use of the Site will not violate any applicable law or regulation.
<br> 
<b>If you provide any information that is untrue, inaccurate, not current, or incomplete, we have the right to suspend or terminate your account and refuse any and all current or future use of the application.</b>
</p><br></ion-item>
<!-- <ion-item class="color"><br><h2 align="center"><span>USER DATA</span></h2></ion-item>

<ion-item class="color"m><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We will maintain certain data that you transmit to the application for the purpose of managing the system, as well as data relating to your use of the app. Although we perform regular routine backups of data, you are solely responsible for all data that you transmit or that relates to any activity you have undertaken using the app.

You agree that we shall have no liability to you for any loss or corruption of any such data, and you hereby waive any right of action against us arising from any such loss or corruption of such data.
</p><br></ion-item> -->
<br>
<ion-item class="color"><br><h2 align="center"><span>CONTACT US</span> </h2></ion-item>


<ion-item class="color"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In order to resolve a complaint regarding the mobile application or to receive further information regarding use of the application, please contact us at:
<br>pantryfinder2021@gmail.com
<br>Batangas
<br>0951-2826-385</p><br></ion-item>


<ion-button shape="round" expand="full" class="ion-padding" color="success" (click)="close()">Close</ion-button>

<br>       
</ion-card-content>


</ion-content>