span{
    color: #44eb8a;
   
    font-weight: bold;
  }

  ion-row{
    margin-top: 10vh;


}
.avatar {
    background-color: rgb(43, 226, 98);
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
  }

ion-label{
    font-size: 20px;
    color: rgb(255, 255, 255);
}

ion-col{
    margin-bottom: 30px;
    color: var(--ion-color-medium);
    font-size: 20px;

}

ion-toolbar {
    --background: transparent;
    --border-style: none;

    ion-button{
        ion-icon{
            font-size: 50px;
        }
    }
}


.color{
        --background: transparent;
        --background: rgba(255, 255, 255, 0.253);
        border-radius: 10px;

    }

    p{
        text-align: justify;
    }