<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" icon ="menu"></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-label style="font-weight: 700; font-size: 2em;">
     About Us 
      <p style="font-weight: 400; color: #433465;"></p>
    </ion-label>
    </ion-item>
    
  </ion-toolbar>
</ion-header>
<ion-content>


  <p>
    <ion-card class="ion-padding " >
       <ion-card-header>
         <ion-card-title></ion-card-title>
       </ion-card-header>
       <p align="center"><img src="../../assets/pantrylogo.png" width="200" height="200"></p>
   
       <p align="center">"MAGBIGAY AYON SA KAKAYAHAN, 
   KUMUHA BATAY SA PANGANGAILANGAN." <br></p>
    <ion-icon name="megaphone-outline"></ion-icon> Pantry Finder aims to help people
     on finding different community pantries and monitor the status. They will know what the
     essential items are with that pantry and also easy tracks the pantries that need a
    donation of essential items.  <br> 

      <br>
      
       If you have questions, don't hesitate to call or message us.
       <br>
       <br>
       <ion-icon name="send-outline"></ion-icon> Email address: pantryfinder@gmail.com<br>
       <ion-icon name="call-outline"></ion-icon>Phone number: 0945-115-1236

       
      </ion-card>  
   
     
      </p>
</ion-content>
