//#map {
  //  min-height: 100%;
  //}
  ion-content{
    .container-form-btn{
        display: flex;
        justify-content: center;
      
    }


    .form-btn:hover{
      
     box-shadow: 0 10px 30px 0px rgba(117, 204, 120, 0.8);
    }
}

ion-icon {
  font-size: 80px;
  color: #66c297;

  
 

}