.innermsg-left{
  display: inline-block;
  padding: 9px 15px;
  margin-left: 18px;
  margin-top: 0px;
  margin-right: 10px  ;
  font-weight: 500;
  font-size: 14px;
  border-radius: 18px;
  background-color: #0084FF;
  color: white;
  border-radius: 0 11px 11px 11px;

}

.msgbubble {
  margin-bottom: 10px;
}

.innermsg-right{
  display: inline-block;
  padding: 9px 15px;
  margin-left: 20px;
  margin-top: 0px;
  margin-right: 10px  ;
  font-weight: 500;
  font-size: 14px;
  border-radius: 18px;
  background-color: #00ff4c;
  color: rgb(0, 0, 0);
  border-radius: 0 11px 11px 11px;

}