.color{
    --background: transparent;
    --background: rgba(255, 255, 255, 0.253);
    border-radius: 10px;

}

.class{
    top:30%;
    width: 90%;
    margin: auto;
    border-radius: 20px;
   }


   span{
    color: #44eb8a;
    font-style: italic;
    font-weight: bold;
  }