<ion-header>
  <ion-toolbar>
    <br>
    <ion-searchbar class="color" [(ngModel)]="recom"
      debounce="500"
      placeholder="Search for Recommended Community Pantry..."
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-row>
    
    <ion-label class ="ion-text-center"> &nbsp; Recommended Pantries for you to donate:<br></ion-label>

    <ion-col size="12" *ngFor="let r of recommends | filter:recom" class ="ion-text-center">
     
     

      <!-- <ion-button shape = "round" expand="full" expand="full" (click)="dismiss()" color="success">
        <ion-icon name="close-circle" slot="icon-only"></ion-icon>
      </ion-button> -->

      <ion-card-content>  
       
        <ion-item class="color">
          <ion-avatar slot="start">
            <div class="avatar">
              {{r.pantry_name.substring(0, 1).toUpperCase()}}
            </div>
          </ion-avatar>
          <h1>{{r.pantry_name}}</h1> <br>
       </ion-item>
  
        <ion-item class="color"> 
          {{'Pantry Owner: ' + r.user_fname +  ' ' + r.user_lname }} <br>       
          {{ ' This pantry need the following items: ' +  r.list_of_items}} <br>
          {{'Address: ' + r.barangay  + ', ' + r.municipality + ', ' + r.province}} <br>
          {{' Schedule: ' + r.open_time + ' to ' + r.close_time }} <br><br>
         
            <!--{{'Status: ' + p.status }}
             {{'Phone Number: ' + p.phone_number }} <br>--> <br>         
             
          </ion-item>  
          <ion-button shape = "round" expand="full" expand="full" (click)="login()" color="success">
            <ion-icon name="heart-circle-outline" > </ion-icon> Donate
           </ion-button>
         
         
    </ion-card-content>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer class="ion-text-center">
  <ion-toolbar>
    <ion-button (click)="next()" fill="clear" color="light">
    
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-button>

   
  </ion-toolbar>
</ion-footer>
