<ion-content [fullscreen]="true">
    <ion-slides [options]="slidesOpts" #slides>
        <ion-slide *ngFor = "let slide of slideImages"
        [style.background-image]="'url(' + slide + ')'">
        <ion-grid>
          <ion-row class="logo">
            <ion-col>
              <img align="center" src="../../assets/pantrylogo.png"/>
              <ion-label>
                <!-- <p class="ion-text-center logoLabel">Pantry Finder</p> -->
                <p class="ion-text-left"></p>
              </ion-label>
            </ion-col>
          </ion-row>
          <div class="container">
            <div class="page-header">
              <br><br> <br>
              <!-- <ion-card> 
              <h1>Welcome <br>{{fname}} {{lname}}</h1><br>
            </ion-card> -->
            </div>
          </div>
        </ion-grid>
      </ion-slide>
    </ion-slides>
   






  
</ion-content>
