<ion-header>
  <ion-toolbar> 
    <ion-title>Donation List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="ion-padding ion-text-uppercase">
    <ion-card-header>
      <ion-card-title>Pantry Name</ion-card-title>
     <!-- <ion-card-subtitle>Name of Donor</ion-card-subtitle>-->
    </ion-card-header>
    <ion-card-content>

     <!--<img src="https://assets2.rappler.com/2021/04/matimyas-workers-community-pantry-manila-april-19-2021-002-1618911478648-667.jpg"/> --> 
      <p>
      Name of Donor <br>
      Address <br>
      Email <br>
      Phone Number <br>
      Transaction <br>
      Date of Donation <br></p>
      <ion-row class="ion-align-items-center">
       
      </ion-row>

      <ion-row class="ion-align-items-center ion-margin-top">
        <ion-col size="4">
          <h2 class="price"></h2>
        </ion-col>
        <ion-col size="8">
          <ion-button expand="block" shape="round" fill="outline" color="dark">
            Approved
          </ion-button>
        </ion-col>
      </ion-row>
      
    </ion-card-content>
  </ion-card>
  
</ion-content>