.slides{
    margin-top: 10px;
  
    img{
      border-radius: 10px;
      box-shadow: -1px 11px 13px -6px rgb(87, 86, 86);
    }
  
    .title{
      position: absolute;
      bottom: 0;
      color: white;
      text-align: left;
      font-weight: bold;
      padding: 10px;
      text-shadow: 1px 1px 2px grey;
    }
  }
  ion-slide{
    padding-bottom: 20px;
  }
  .category{
    margin-top: 15px;
    background-color: var(--ion-color-danger);
    color: white;
    padding:5px 25px 5px 25px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: -1px 11px 13px -6px var(--ion-color-danger);
  }
  
  .listSlides{
    
    img{
    
      padding:5px 25px 5px 25px
  
    }
  
    .actionbutton {
      margin-top: 0px;
      padding: 5px 25px 1px 25px;
      border-radius: 10px;
    }
  }

  .avatar {
    background-color: rgb(43, 226, 98);
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
  }
  
  .subtext{
    font-size: 80%;
    margin-top: 0;
    color: #8b979f;
  }
  
  .title{
    font-weight: 600;
    font-size: 16px;
  }

  


  .color{
  
    --background: rgba(255, 255, 255, 0.253);
    border-radius: 10px;

}

.wrapper{
  display: flex;
  flex-direction: column;
 
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 1rem;

    .image-card{
      background-color: #f3f3f3;
      padding: 0.8rem;
      border-radius: 1.5rem;
      margin-bottom: 0.5rem;
      align-items: center;

        img{
          opacity: 0.8;
          width: 70px; 
         
        }
    }

    p{
      color: #000000;
      font-size: 15px;
      margin-left: 0px;
      
    }
}

