
<ion-content>
  <ion-slides pager="true">
    
    <ion-slide class="slide-one">
      <img src='assets/images/background.png' alt="Finder"/> <br><br>
        <h2>Welcome to Pantry Finder</h2>
        <p>Search for a community pantry you want to <br> search, create and donate</p>
    </ion-slide>

    <ion-slide class="slide-one">
      <img src='assets/images/map.jpg' alt="map" style="border-radius: 20px"/> <br><br>
        <h2>Go To Map</h2>
        <p> View Community Pantry on the different <br> places</p>
    </ion-slide>

    <ion-slide class="slide-one">
      <img src='assets/images/donate.jpg' alt="map" style="border-radius: 20px" /> <br><br>
      <h2>Donate</h2>
      <p> You can donate on the different <br>Community Pantry</p>
    </ion-slide>

    <ion-slide class="slide-one"> <br> <br><br> <br>
      <img src='assets/images/safety.jpg' alt="safety" style="border-radius: 20px"/> <br><br>
      <h2>Safety is a must!</h2>
      <p>Please always wear mask, and maintain <br>social distancing</p>
      
      <br> <br><br> <br>
      <div class="start">
        <ion-button shape="round" expand="block" color='success' (click)="openTransparentModal()" >Start</ion-button>
    </div>
    </ion-slide>
<!-- (click)="navigateToLoginPage()"-->
  </ion-slides>
</ion-content>
