.info-1{
    font-size: 14px;
    color: #999;
}

.info-1 span {
    color: blue;
}


*{
    font-family: 'Montserrat Alternates', sans-serif;
  }
  
  .user{
    margin-top: 30px;
  
  }
.ins{

    margin-left: 15px;
   margin-right: 15px;
   font-size: 14px;
  
}
.ins1{

  margin-left: 15px;
 margin-right: 15px;
 font-size: 14px;

}
  .admin{
    margin-top: 235px;
  }
  
  span{
    color: #44eb8a;
    font-style: italic;
    font-weight: bold;
  }

  ion-text {
    font-size: 0.8em !important;
}
  
  click{
    color: #e27575;
  }
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  //#container {
   // text-align: center;
  
    //position: absolute;
  //  left: 0;
  //  right: 0;
   // top: 50%;
   // transform: translateY(-50%);
  ///}
  
  //#container strong {
   // font-size: 20px;
   // line-height: 26px;
  //}
  
  //#container p {
   // font-size: 16px;
    //line-height: 22px;
  
  //  color: #8c8c8c;
  
  ////  margin: 0;
  //}
  
  //#container a {
   // text-decoration: none;
  //}
  