<ion-content [fullscreen]="true">

<ion-card class="ion-padding">      
<ion-label>Step 1</ion-label><br>
<ion-label>Ilagay sa search bar ang lugar kung saan mo itatayo ang community pantry, at iclick ang next button.</ion-label>
<img src='assets/step1.jpg'/> <br>
</ion-card>

<ion-card class="ion-padding">  
<ion-label>Step 2</ion-label> <br>
<ion-label>I-scroll down ang page at makikita mo ang lugar ng iyong isinearch.</ion-label>
<img src='assets/step2.jpg'/> <br>
</ion-card>

<ion-card class="ion-padding">  
    <ion-label>Step 2</ion-label> <br>
    <ion-label>I-drag ang pin kung saan eksaktong ilalagay ang community pantry. Pindutin ang pin upang makita
        ang latitude at longitute. I-copy eto sa form kung saan ilalagay ang detalye ng iyong community pantry.
    </ion-label>
    <img src='assets/step3.jpg'/> <br>
</ion-card>

<ion-button shape="round" expand="full" class="ion-padding" color="success" (click)="close()">Close</ion-button>
<br>
</ion-content>
